.main-content { text-align:justify; }

.inside { padding: 30px; }

.blogthumb {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align:center;
  margin: 10px;
  width: 30%;
  float: left;
}

.blogthumb-link {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.clear { clear:both; }

img { width: 100%; }

h5,h5 a,h5 a:hover,h4,h4 a,h4 a:hover {
  font-size: 20px;
  font-family: Georgia, serif;
  text-align:center;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

