body { 
  background-color: #eaeaea;
  background-image: url('/img/bg.png');
  background-size: 100% 400px;
  background-repeat: no-repeat;
  font-size: 16px;
}

h1, h2, h3, h4, h5 { 
  text-align: center; 
}

p {
  text-align: justify;
}

blockquote {
  text-align: justify;
}

h1 {
  line-height: 70px;
  font-size: 36px;
  font-family: Raleway;
  font-weight: bold;
  color: #000;
  display: inline;
}

h1 a, h1 a:visited { 
  color: #000;
}

h1 a:hover {
  color: #000;
}

h2 {
  text-align:center;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #000;
}

.header h2 {
  font-weight: normal;
}

h4 {
  font-weight: bold;
}

.container { 
  padding: 0px 0 60px;
  margin-top: 330px;
}

.padded { 
  padding: 30px 0 40px; 
}

.clear {
  clear:both;
}

a, a:visited {
  color: #201da5; 
  text-decoration: none; 
}

a:hover {
  color: #1916dd;
}

.rownav {
  margin: 160px 0 0;
  min-height: 50px; 
  line-height: 50px;
}

.nav {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, serif;
  display: inline;
}

.nav {
    list-style:none;
    margin-top: 10px;
    margin-right: 30px;
    padding:0;
    float: right;
}

.nav li {
    display:inline;
    line-height: 20px;
}

.nav a {
    font-family: Raleway;
    font-weight: bold;
    display:inline-block;
    line-height: 60px;
    height: 36px;
    color: #000;
}

.nav a:hover {
    text-decoration: underline;
}

.centered { 
text-align: center;
}

.header {
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  padding: 0 40px;
}

.main-content { 
text-align: justify; 
}

.content {
  border-radius: 0 0 20px 20px;
  padding-top: 30px;
  background-color: #fff;
}

.inside { 
  padding: 30px; 
}

.project {
  display: none;
  margin: 20px 0;
}

.project:after {
  content: "";
  display: table;
  clear: both;
}

.projthumb {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align:center;
  margin: 1%;
  width: 100%;
}

.projthumb-link {
  width: 65%;
  float: left;
}

.projthumb img {
  border-radius: 0;
  width: 40%;
  float: left;
}

.travelthumb {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align:center;
  margin: 1%;
  width: 30%;
  float: left;
}

.travelthumb-link {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.travelthumb img {
  border-radius: 0px;
}

.show {
  display: block;
}
    
.clear { 
  clear: both; 
}

img { 
  width: 100%; 
  border-radius: 20px; 
}

li { 
  padding-left: 20px; 
}

.timeline-right {
  border-left: thick solid #000;
  border-bottom: thick solid #000;
  padding: 10px;
  width: 50%;
  float: right;
  text-align: left;
}

.timeline-left {
  border-right: thick solid #000;
  border-bottom: thick solid #000;
  padding: 10px;
  width: 50%;
  float: left;
  text-align: right;
}

.timeline-right h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.timeline-left h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  text-align: right;
}

.year {
  border: thick solid #000;
  margin: -15px;
  padding: 10px;
}

.tl-title-left {
  margin-right: 30px;
}

.tl-title-right {
  margin-left: 30px;
}

.projbtn {
  color: #800000;
  border: 0;
  font-size: 1em;
  text-transform: capitalize;
  padding: 0;
  display: block;
}

.subbtn {
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {

  .padded { padding: 30px 20px 40px 20px; }

  #myBtnContainer {
    margin: -40px 0;
    padding: 20px;
  }

}
