/*
-----------------------------------------------
Grey Box Method - Layout CSS
----------------------------------------------- */

html {
  width: 100%;
}

body {
	background: #8ea0b4;
  color: #000;
	font-size: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
  min-width: 980px;
}

p {
  padding: 0 20px 0 20px;
  text-align:justify;
}

.inside {
  padding: 20px;
}

#bg {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

#bg img {
    width:100%;
    height:100%;
}

/* anchors
----------------------------------------------- */

a, a:visited {
	color: #033e6b;
	text-decoration: none;
}

a:hover {
	color:#3f92d2;
}

.code {
  font-family: "Courier New", Courier, monospace;
  margin-left: 40px;
  text-align: left;
}

/* header
----------------------------------------------- */

header {
  margin: 0;
  padding: 0;
  color: #000;
}

header .title {
  padding: 12px;
  font-family: 'Belleza', serif;
  text-align: left;
  float:left;
  font-size: 24px;
  font-variant: small-caps;
}

header .desc {
  text-align: left;
  font-family: 'Belleza', serif;
  padding: 20px 0 10px 12px;
  font-weight: normal;
}

header h2 {
  font-size: 20px;
  font-family: 'Belleza', serif;
}

header a,
header a:visited {
  color: #000;
	font-weight:bold;
	text-decoration: none;
}

header a:hover {
	color:#f0f0f0;
}

/* nav is the horizontal nav bar in theader
----------------------------------------------- */

nav {
  float: right;
  text-align: center;
  padding: 0px;
  margin: 0 auto 10px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 10px auto;
  padding: 0px;
}

nav li {
  float: left;
  margin: 10px 10px 10px 10px;
  text-shadow: 1px 1px #c0c0c0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 200;
}

nav h4 {
  font-family: 'Belleza', serif;
  font-size: 1.1em;
  text-align: center;
  margin: 0 0 0px 0;
  padding: 0px;
  color: #000;
}

/* thumbs display
----------------------------------------------- */

h1 {
  padding: 12px;
  font-family: 'Belleza', serif;
  text-align: center;
  font-size: 24px;
  font-variant: small-caps;
  margin: 0 auto;
}

.thumbs-display {
  text-align:left;
  float:right; 
  width: 85%;
  margin-bottom: 20px;
}

.thumbs-display img {
  width: 100%;
}

.thumbs-indiv {
  width: 250px; 
  background-color: #fff; 
  text-align:center; 
  display:inline-block; 
  margin: 1% auto;  
  vertical-align: top;
}

.thumbs-text {
  font-size:0.8em; 
  height: 0.9em; 
  padding: 5px 0; 
  overflow: hidden;
}

/* section is the entire white content area
----------------------------------------------- */

section {
  margin: 0px auto;
  padding: 20px 0 20px 0px;
  color: #000;
  clear:both;
  background-color: #fff;
  min-height: 100%;
}

h2 {
  text-align: center;
  margin: 10px auto 12px auto;
  text-shadow: 1px 1px #c0c0c0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 200;
}

/* sidebar
----------------------------------------------- */

.sidebar {
  width: 230px;
  float: left;
  margin: 10px;
  padding: 0px;
}

/* an article is the entire 750px content area
----------------------------------------------- */

article {
  margin: 0px auto;
  padding: 0px; 
  width: 700px;
}

.border {
  border: 1px solid #696969;
  background: #fff;
  padding: 0px;
  margin: 10px;
}

/* frontpage icons */
article .frontpage {
  text-align:center;
  width: 24%;
  margin: 10px 2px;
  float: left;
  font-size: 12px;
}

article .title {
  padding: 20px 0 0 20px;
  text-align:left;
  width: 100%;
  font-family: 'Belleza', sans-serif;
  font-size: 2em;
}

article .item {
  text-align: left;
  color: #000;
  float: left;
  width: 30%;
}

article .item h3 {
  font-family: 'Belleza', sans-serif;
  line-height: 1.1em;
  font-size: 1em;
  overflow: hidden;
  height: 1.1em;
  text-align: left;
  margin-top: 0px;
}

article .date {
  height: 1.2em;
  margin: 5px 0 5px 0;
}

article .desc {
  height: 1.2em; 
  line-height: 1.2em;
  overflow: hidden;
  margin: 10px 0 10px 0;
}

article .item a,
article .item a:visited {
  display: block;
  color: #2b3f56;
}

article .item:hover {
  background-color: #cfcfcf;
  color:#2b3f56; 
}

article h3 {
  font-family: 'Belleza', sans-serif;
  font-size: 1.1em;
  text-align:center;
  margin: 20px 0 0 0;
  width: 100%;
  line-height: 1.3em;
  overflow: hidden;
}
article h5 {
  font-family: 'Belleza', sans-serif;
  font-size: 1.1em;
  text-align:center;
  margin: 20px 0 0 0;
  width: 100%;
  line-height: 1.3em;
  overflow: hidden;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 0 10px 0;
}


article img {
  width: 100%;
  padding: 0px;
  margin: 0px auto;
}

.vertimg {
  width: 50%;
  float: left;
}

.clear {
  clear:both;
}

.convolution {
  float: left;
  display: inline-block;
  width: 45%;
  text-align:center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.convolution img {
  margin: 0px auto;
  width: 50%;
}
