/*
-----------------------------------------------
Grey Box Method - Layout CSS
----------------------------------------------- */

body {
	background: #efefef;
  color: #000;
	font-size: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0 20px 0 20px;
}

.inside {
  padding: 20px;
}

/* anchors
----------------------------------------------- */

a {
	color: #033e6b;
	text-decoration: none;
}

a:visited {
	color: #033e6b;
	text-decoration: none;
}

a:hover {
	color:#3f92d2;
}

.code {
  font-family: "Courier New", Courier, monospace;
  margin-left: 40px;
}

/* header
----------------------------------------------- */

header {
  width: 100%;
  margin: 0px auto;
  background-color:#2b3f56;
  background-size: 100%;
  position: relative;
  color: #fff;
  padding: 20px;
}

header .title {
  font-family: 'Belleza', sans-serif;
  font-size: 2em;
  text-align:left;
  width: 980px;
  margin: 0px auto 10px auto;
}

header .desc {
  text-align:left;
  padding: 10px;
  margin: 0px auto; 
  width: 980px;
}


header a,
header a:visited {
  color: #c1aa87;
	font-weight:bold;
	text-decoration: none;
}

header a:hover {
	color:#fff;
}

/* nav is the horizontal nav bar in theader
----------------------------------------------- */

nav {
  text-align: center;
  padding: 0px;
  margin: 0 0 10px 0;
  color: #000;
  background-color: #fff;
  border: 1px solid #696969
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 0px;
}

nav h4 {
  font-family: 'Belleza', serif;
  font-size: 1.1em;
  text-align: center;
  margin: 0 0 0px 0;
  padding: 0px;
  color: #000;
}

/* section is the entire white content area
----------------------------------------------- */

section {
  margin: 0px auto;
  padding: 0px;
  color: #000;
  clear:both;
  width: 980px;
}

h2 {
  text-align: center;
}

/* sidebar
----------------------------------------------- */

.sidebar {
  width: 230px;
  float: left;
  margin: 10px;
  padding: 0px;
}

/* an article is the entire 750px content area
----------------------------------------------- */

article {
  margin: 0px;
  padding: 0px; 
  width: 700px;
  float: right;
}

.border {
  border: 1px solid #696969;
  background: #fff;
  padding: 0px;
  margin: 10px;
}

article .title {
  padding: 20px 0 0 20px;
  text-align:left;
  width: 100%;
  font-family: 'Belleza', sans-serif;
  font-size: 2em;
}

article .item {
  width: 45%;
  float: left;
  text-align: left;
  line-height: 1.2em;
  color: #000;
}

article .item h3 {
  font-family: 'Belleza', sans-serif;
  line-height: 1.1em;
  font-size: 1em;
  overflow: hidden;
  height: 1.1em;
  text-align: left;
  margin-top: 0px;
}


article .date {
  height: 1.2em;
  margin: 5px 0 5px 0;
}

article .desc {
  height: 2.4em; 
  line-height: 1.2em;
  overflow: hidden;
  margin: 10px 0 10px 0;
}

article .item a,
article .item a:visited {
  display: block;
  color: #2b3f56;
}

article .item:hover {
  background-color: #cfcfcf;
  color:#2b3f56; 
}

article h3 {
  font-family: 'Belleza', sans-serif;
  font-size: 1.1em;
  text-align:center;
  margin: 20px 0 0 0;
  width: 100%;
  line-height: 1.3em;
  overflow: hidden;
}

article img {
  width: 100%;
  padding: 0px;
  margin: 0px auto;
}

