---
layout: default
permalink: /projects/
headerpage: true
title: Projects
---

<h5>Projects</h5>

{% for post in site.categories.making %}
<div style="float: left; width: 30%; border: 5px solid #fff; text-align:center; background-color: #f0f0f0;">
  <a href="{{ post.url }}"><img style="width: 100%;" src="{{ post.image }}" >
  <div style="line-height: 1em; height: 3em; overflow: hidden">{{ post.title }}</a></div>
</div>
{% endfor %}

<!-- {% for post in site.categories.making %}
<span style="font-family: Georgia, serif; color: #700000; text-transform: capitalize; font-variant: small-caps">{{ post.subcat }}</span> :: <strong>{{ post.title }}</strong> :: {{ post.description }}
<br /><br />
{% endfor %}-->

