/*
 *
 * Common
 *
 *****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 20px;
  height: 100%;
  color: #000;
  font-family: Calisto, Georgia, serif;
}

h1 {
  font-size: 20px;
  font-weight: normal;
  text-align:center;
  padding-bottom: 10px;
}

a:link {
  color: #039;
  text-decoration: none;
}

a:visited {
  color: #039;
  text-decoration: none;
}

a:hover {
  color: #365;
  text-decoration: none;
}

img {
  border: 0px;
}
