---
title: Photography
permalink: /travels/
layout: default
section: World Travels
header: /images/header/header4.png
---

<div class="inside">
<a href="#desert">Deserts</a> &nbsp; &nbsp; 
<a href="#western">Western States</a> &nbsp; &nbsp; 
<a href="#pilot">Private Pilot</a> &nbsp; &nbsp; 
<a href="#oregon">Oregon</a> &nbsp; &nbsp; 
<a href="#europe">Backpack Europe</a> &nbsp; &nbsp; 
<a href="#usstarawa">USS Tarawa</a> &nbsp; &nbsp;
<a href="#iraq">Iraq</a>
</div>
</div>

<div class="site">
<h5 style="border-top: 0px;"><a name="desert">My Deserts: Sonora, Mojave, Iraqi</a></h5>

<div class="inside">
  
{% for post in site.categories.desert %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}

{% endfor %}
</div>
</div>

<div class="site">

<h5 style="border-top: 0px;"><a name="western">Road Trips in the Western States</a></h5>

<div class="inside">
  
{% for post in site.categories.western-states %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}

{% endfor %}
</div>
</div>

<div class="site">

<h5 style="border-top: 0px;"><a name="pilot">Private Pilot</a></h5>

<div class="inside">

{% for post in site.categories.private-pilot %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}

{% endfor %}
</div>
</div>

<div class="site">

<h5 style="border-top: 0px;"><a name="oregon">Oregon Hikes</a></h5>

<div class="inside">
{% for post in site.categories.oregon-hikes %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}
{% endfor %}
</div>
</div>

<div class="site">

<h5 style="border-top: 0px;"><a name="europe">Backpacking Solo in Europe for Three Months</a></h5>


<div class="inside">

{% for post in site.categories.backpack-europe %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}

{% endfor %}
</div>
</div>

<div class="site">

<h5 style="border-top: 0px;"><a name="usstarawa">USS Tarawa (Westpac)</a></h5>


<div class="inside">

{% for post in site.categories.uss-tarawa %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}

{% endfor %}
</div>
</div>

<div class="site">

<h5 style="border-top: 0px;"><a name="iraq">Camp Cupcake, Iraq</a></h5>

<div class="inside">

{% for post in site.categories.camp-cupcake %}

  {% if (post.image) %}
    <div style="width: 210px; display: inline-block; clear: both; margin-top: 10px; text-align:center; font-size: 14px; vertical-align:text-top;">
      <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" /></a>
      <br />
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}

{% endfor %}
</div>
</div>


