<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/skeleton.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="twelve columns header">
        <h1>{{ site.title }}</h1>
        <h2>{{ site.description }}</h1>
      </div>
    </div>
    <div class="row rownav">
      <ul class="twelve columns nav">
        <li><a href="{{site.baseurl}}/">About</a></li>
        <li><a href="{{site.baseurl}}/travels/">Travels</a></li>
        <li><a href="{{site.baseurl}}/hardware/">Hardware</a></li>
        <li><a href="{{site.baseurl}}/software/">Software</a></li>
        <li><a href="{{site.baseurl}}/writing/">Writing</a></li>
      </ul>
    </div>
  </div>
 
  {{ content }}

  <div class="container">
    <div class="row rownav" style="margin-top: 0px;">
      <ul class="twelve columns nav">
        <li><a href="{{site.baseurl}}/">About</a></li>
        <li><a href="{{site.baseurl}}/travels/">Travels</a></li>
        <li><a href="{{site.baseurl}}/hardware/">Hardware</a></li>
        <li><a href="{{site.baseurl}}/software/">Software</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns" id="contact" style="text-align:center;">
        Design and content by 
        <strong>Jenner Hanni</strong><br />
        jenner@wickerbox.net
      </div>
      <div class="two columns">&nbsp;</div>
    </div>
  </div>
</body>

</html>
