<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="Personal content management system implementation.">
  <meta name="author" content="Jenner Hanni">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="twelve columns header">
        <h1>{{ site.title }}</h1>
      </div>
    </div>
    <div class="row" style="background-color: #c0a97d; min-height: 60px; line-height: 60px">
      <div class="one column">&nbsp;</div>
      <div class="one column nav">
        <a href="/">Home</a>
      </div>
      <div class="four columns">&nbsp;</div>
      <div class="one column nav">
        <a href="/travels/">Travels</a>
      </div>
      <div class="one column nav">
        <a href="/projects/">Projects</a>
      </div>
      <div class="four columns">&nbsp;</div>
    </div>

  </div>
 
  <!--- the child page must create a new container --->
  {{ content }}


</body>

</html>
