---
layout: default
---

<div class="container mainbox">
  <div class="row">
    <div class="col_2">&nbsp;</div>
    <div class="col_8">
      <h3>{{ page.title }}</h3>
      <h4>{{ page.year }} . {{ page.location }}</h4>
    </div>
    <div class="col_2 last">&nbsp;</div>
  </div>

  <div class="row">

    <div class="col_2">&nbsp;</div>

    <div class="col_8 textbox">
       {% case page.purpose %}
         {% when 'photo' %}
         <div id="galleria">  </div>
         <script>
            Galleria.loadTheme('/galleria/themes/classic/galleria.twelve.min.js');
            $('#galleria').galleria({
            picasa: 'useralbum:{{ page.userid }}/{{ page.useralbum}}'
            });
         </script>
       {% endcase %}
       <div class="inside">{{ content }}</div>
   </div>
   <div class="col_2 last">&nbsp;</div>
 </div><!-- end row -->
</div><!-- end container -->

<div class="container footer">
  <div class="row">
    <div class="col_12 last inside">
        {{ site.tags | tag_cloud }}
    </div>
  </div>
</div>
