---
layout: default
---

<nav style="width: 100%; margin-bottom: 20px; border-bottom: 1px solid #cfcfcf;">
  {% if page.previous %}
  <div style="float:left;">&nbsp; &laquo; <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></div>
  {% else %}
  <div style="float:left;">&laquo; <a href="/blog/">Blog Entries</a></div>
  {% endif %}
  {% if page.next %}
  <div style="float:right;"><a href="{{ page.next.url }}">{{ page.next.title }}</a> &raquo; </div>
  {% else %}
  <div style="float:right;"><a href="/blog/">Blog Entries</a> &raquo;</div>
  {% endif %}
  <div style="clear:both;">&nbsp;</div>
</nav>

<h1>{{ page.title }}</h1>
{{ page.date | date: '%Y' }} - {{ page.location }}
{{ content }}

<div style="clear:both;">&nbsp;</div>
<nav style="width: 100%; margin-bottom: 20px; border-top: 1px solid #cfcfcf; padding-top: 20px">
  {% if page.previous %}
  <div style="float:left;">&nbsp; &laquo; <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></div>
  {% else %}
  <div style="float:left;">&laquo; <a href="/blog/">Blog Entries</a></div>
  {% endif %}
  {% if page.next %}
  <div style="float:right;"><a href="{{ page.next.url }}">{{ page.next.title }}</a> &raquo; </div>
  {% else %}
  <div style="float:right;"><a href="/blog/">Blog Entries</a> &raquo;</div>
  {% endif %}
  <div style="clear:both;">&nbsp;</div>
</nav>

